#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
 background-color:black;
  height: 50%;
  font-size: large;
  width: 100%;
}

.text-input, select, textarea {
  width: 90%;
  padding: 6px 10px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.field {
  position: relative;
  margin-bottom: 20px;
}
.error {
  color: red;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 100%;
}




